.loader-container{
    position: relative;
    width: 20%;
    margin: 0 auto;
}
.loader{
    position: absolute;
    top: 0;
    background: transparent;
    border: .3rem solid var(--main-color);
    border-top-color: transparent;
    border-radius: 100%;
}
.loader:nth-child(1) {
    height: 9rem;
    width: 9rem;
    animation: loader 2s linear infinite;
}
.loader:nth-child(2) {
    margin-top: 1rem;
    height: 7rem;
    width: 7rem;
    left: 1.2rem;
    animation: loader 1s linear infinite;
}
.loader:first-child{
    margin: initial;
}

@keyframes loader{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}